.EricFunko{
    height: 150px;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 2px;
}

.HTML{
    height: 50px;
}

.check-circle{
    height: 50px;
    margin-bottom: 25px;
    margin-top: 30px;
}